@font-face {
    font-family: 'Dali'; 
    src: url('dali.ttf'); 
}

html { padding:0; margin:0; }
body {
  padding:50px; 
  color:#000; 
  font-family:Georgia, serif; 
  text-align:justify;  
  
  background-image:url(images/dali_bg.png);
  background-repeat:no-repeat;
  overflow:hidden;  
}

.unselectable {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;      
      }

canvas {
  cursor:pointer;     
}

.sliderDiv {
    position:absolute; 
    left:0px; right:0px; bottom:0px; 
    height:15px; 
    padding:15px;
    z-index:4;
    text-align:center;
    color:white;
    cursor:pointer;   
}

.sliderDiv > .slider {
    display:inline-block;
    width:300px;
    margin:0px 10px 0px 10px;
    vertical-align:middle;

}

hr {
    width:12%;
    margin-top:6em;    
    margin-bottom:6em;    
}

/*
*::-webkit-scrollbar {-webkit-appearance: none; width: 10px; height: 20px}
*::-webkit-scrollbar-track-piece {background-color: #000}
*::-webkit-scrollbar-thumb {background-color: #111111}
*::-webkit-scrollbar-thumb:vertical {height: 20px}
*::-webkit-scrollbar-thumb:horizontal {width: 20px}
*/

 
h1 {
    font-family: Dali;
    font-size:67px;
    margin-left:320px;
}

#main {
  position:absolute;
  left:300px;
  right:30px;
  top:320px;
  bottom:10px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 25px;
  background: #DCA4CA;
  padding: 20px; 
}

#links_box {

  position:absolute;
  left:30px;
  top:560px;
  bottom:10px;
  width:200px;
  
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 25px;
  background: #F6C20F;
  padding: 20px; 
}
